<form [formGroup]="addMore">
    <div class="container pt-3 pb-3" formArrayName="itemRows">
        <div class="form-row-group" *ngIf="addMore.controls.itemRows['controls'].length >= 1">
            <div class="form-row-list" *ngFor="let itemrow of addMore.controls.itemRows['controls'];let i=index" [formGroupName]="i">
                <div class="form-row" *ngIf="fields[i]">

                    <div class="form-group col-md-4">
                        <select class="form-control" id="field-{{i}}" formControlName="field" (ngModelChange)="onSelectField($event,i);" [(ngModel)]="fields[i].meta">
                        <option value="null" selected="selected">Select Field</option>
                        <option *ngFor="let field of fieldsSchema" [ngValue]="field" >{{field.label}}</option>
                    </select>
                    </div>
                    <div class="form-group col-md-4">
                        <select class="form-control" id="option-{{i}}" formControlName="option" [(ngModel)]="fields[i].option">
                        <option value="null" selected="selected">Select Operator</option>
                        <option *ngFor="let option of fields[i]?.meta?.searchOperators" [ngValue]="option.Operator">{{option.Operator}}</option>
                    </select>
                    </div>

                    <div class="form-group col-md-2">
                        <input type="text" class="form-control" id="value-{{i}}" formControlName="value" [(ngModel)]="fields[i].value" />
                    </div>
                    <div class="form-group col-md-2">
                        <span (click)="removeFilter(itemrow,i)" class="btn btn-danger">-</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <span (click)="addFilter()" class="btn btn-success mr-2">+</span>
            <span (click)="printData()" class="btn btn-success mr-2">Print Result In Console</span>
        </div>
        <div class="form-row mt-4">

            <table class="table table-bordered">
                <tr *ngFor="let item of fields">
                    <td>{{item.index}}</td>
                    <td>{{item.field}}</td>
                    <td>{{item.option}}</td>
                    <td>{{item.value}}</td>
                </tr>
            </table>
        </div>
    </div>
</form>




<ag-grid-angular style="height: 750px;width: 100%;" class="ag-theme-balham" [enableSorting]="true" [columnDefs]="columnDefs" (gridReady)="onGridReady($event)" [enableFilter]='true' [sortingOrder]='sortingOrder' [pagination]='true' [paginationPageSize]=25>
</ag-grid-angular>